
@{
    ViewData["Title"] = "Home Page";
}

<form action="/Bank/Register" method="post">
  <fieldset>
    <legend>Registration Form</legend>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" class="form-control" value="" required>
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input type="text" id="Email" class="form-control" placeholder="abc@gmail.com" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" placeholder=" " required>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>