@using BOL;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center, container">
    <h1 class="display-4">Welcome to Customer Page</h1>

  @{
        List<Account> allaccounts= (List<Account>)ViewData["accts"];
            Console.WriteLine("in the second div of ");
        @if(allaccounts != null){
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Customer Name</th>
         <th>Account Type</th>
          <th>Branch</th>
           <th>Balance</th>
        
        </tr>
        </thead>
        <tbody>
            @foreach( Account acc in allaccounts){
                Console.WriteLine();
                <tr>
            


                <td>@acc.Customer_Name</td>
                <td>@acc.Type</td>
                <td>@acc.Account_Branch</td> 
                <td>@acc.Account_Balance</td>
                 </tr>
                
                
            }    
            </tbody>
            </table>  
        }  
         Console.WriteLine("Data no found");
    }
    </div>
